<header>
    <div class="title">{{gameTitle}}</div>
  </header>
  <div class="container">
    <div x-ng-class="{tttboard:true}">
  <div x-ng-class="{tttcell:true, red: t === 1, green: t === -1}" x-ng-repeat="t in tictactoeBoard track by $index" x-ng-click="click($index);">
  </div>
</div>
  </div>
  <footer>
    <button x-ng-click="replay()">Play Again?</button>
    <button x-ng-click="reset()">Reset</button>
    <div class="scoreboard">
      <div>Green
        <div>{{player1}}</div>
      </div>
      <div>Draw
        <div>{{draw}}</div>
      </div>
      <div>Red
        <div>{{player2}}</div>
      </div>
    </div>
    <a href="#/connectfour">Connect Four</a>
  </footer>
</div>