<!doctype html>
<html lang="en" x-ng-app="GamesApp">
<head>
  <meta charset="UTF-8">
  <title>Games</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body x-ng-view>
  <!-- <header>
    <div class="title">{{gameTitle}}</div>
  </header>
  <div class="container">
    <div>

    </div>
  </div>
  <footer>
    <button x-ng-click="replay()">Play Again?</button>
    <button x-ng-click="reset()">Reset</button>
    <div class="scoreboard">
      <div>Green
        <div>{{player1}}</div>
      </div>
      <div>Draw
        <div>{{draw}}</div>
      </div>
      <div>Red
        <div>{{player2}}</div>
      </div>
    </div>
  </footer>
</div> -->
</body>
</html>